@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap");

/* === color === */
:root {
  /*=== Primary === */

  --pSoftRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkCyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --darkBlue: hsl(198, 62%, 26%); /*(photography text)*/
  --darkmoderCyan: hsl(168, 34%, 41%); /*(footer)*/

  /* === Neutral === */

  --vdarkdesblue: hsl(212, 27%, 19%);
  --verydarkgrayishblue: hsl(213, 9%, 39%);
  --darkgrblue: hsl(232, 10%, 55%);
  --grayishblue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Layout === */

body {
  font-size: 18px;
  /* font-family: "Fraunces", serif; */
  font-family: "Barlow", sans-serif;
}

header {
  color: white;
}

ul li {
  list-style: none;
}

.nav ul {
  display: flex;
  gap: 20px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

header {
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin-top: 3rem;
}

/* === Main === */
.section-one {
  display: flex;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
  text-align: left;
}

.right {
  flex-basis: 50%;
}

img {
  display: block;
  width: 100%;
}

/* === Typography === */

/* === Header === */
.header_text {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
